.CartItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}
article{
    background-color: aquamarine;
}

section{
    text-align: center;
    font-size: large;
}

