h1 {
    text-align: center;
}

nav {
    background-color: beige;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

h3 {
    color: blue;
    font-size: x-large;
}

button {
    margin: 5px;
}